{% extends 'base.html.twig' %}

{% block title %}Mes informations{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .success {color :rgb(22, 212, 67);}
</style>

<div class="example-wrapper">
    <h1>Mon profil</h1>
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
     <div>
        <h2>Mes abonnements - {{current_user.countSubscriptions()}} utilisateur(s)</h2>
        {% if current_user.subscriptions|length > 0 %}
            <ul class="subs">
                {% for sub in current_user.subscriptions %}
                    <li>
                        <span>
                            <a href="{{path('app_account_other_user_details',{'username': sub.username|url_encode})}}">
                                {{ sub.username }} - 
                            </a>
                        </span> 
                        <button class="btn btn-danger" type="button">
                            <a href="{{path('app_account_user_remove_subscription',{'username': sub.username|url_encode})}}">
                                Ne plus suivre
                            </a>
                        </button>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Vous n'êtes abonné à personne.</p>
        {% endif %}
    </div>
     <div>
        <h2>Mes abonnés - {{current_user.countSubscribers()}} abonné(s)</h2>
        {% if current_user.subscribers|length > 0 %}
            <ul>
                {% for sub in current_user.subscribers %}
                    <li>{{ sub.username }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Personne ne vous suit encore.</p>
        {% endif %}
    </div>
    <div>
        <button class="btn btn-primary" type="button">
            <a href="{{path('app_account_user_update_username')}}">
                Changer de pseudonyme
            </a>
        </button> 
        <button class="btn btn-primary" type="button">
            <a href="{{path('app_account_user_update_password')}}">
                Changer de mot de passe
            </a>
        </button>  
    </div>
</div>
{% endblock %}
