{% extends 'base.html.twig' %}

{% block title %}Hello Account/User/DetailsUserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .success {color :rgb(22, 212, 67);}
</style>

<div class="example-wrapper">
    <h1>Hello {{ current_user.username }}! ✅</h1>
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
     <div class="example-wrapper">
        <h2>Mes abonnements - {{current_user.countSubscriptions()}} utilisateur(s)</h2>
        {% if current_user.subscriptions|length > 0 %}
            <ul>
                {% for sub in current_user.subscriptions %}
                    <li><span>
                       <a href="{{path('app_account_other_user_details',{'username':'John Doe'|url_encode})}}">{{ sub.username }}</a>
                        </span> <button type="button"><a href="{{path('app_account_user_remove_subscription',{'username': 'johndoe'|url_encode})}}">Ne plus suivre</a></button></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Vous n'êtes abonné à personne.</p>
        {% endif %}
    </div>
     <div class="example-wrapper">
        <h2>Mes abonnés - {{current_user.countSubscribers()}} abonné(s)</h2>
        {% if current_user.subscribers|length > 0 %}
            <ul>
                {% for sub in current_user.subscribers %}
                    <li>{{ sub.username }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Personne ne vous suit encore.</p>
        {% endif %}
    </div>
    <div class="example-wrapper">
        <h2>S'abonner :</h2>
        <a href="{{ path('app_account_user_subscribe', { 'username': 'Al'|url_encode }) }}">S'abonner à John Doe</a>
    </div>            
</div>
{% endblock %}
