{% extends 'base.html.twig' %}

{% block title %}{{podcast.name}} - informations{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <h1>{{podcast.name}}</h1>
    <h2 class="podcast_author">
        {% for author in podcast.author %}
            {{author.username}}
        {% endfor %}
    </h2>
    <span class="podcast_date"> Crée le {{podcast.createdAt|date('d F Y')}}</span>
    <div>   
   <p class="podcast_description">
    {{podcast.description}}
   </p>
   <audio class="audio" controls>
        <source src="{{ asset('uploads/Audio/' ~ podcast.file) }}" type="audio/mpeg">
                        Votre navigateur ne supporte pas l’élément audio.
    </audio>
    </div>  
</div>

{% endblock %}


