{% extends 'base.html.twig' %}

{% block title %}Hello Account/User/UpdateUserController!{% endblock %}

{% block body %}
<style>
    .error-wrapper { color:rgb(238, 31, 31); }
</style>
    <div class="container mt-5">
        <h2 class="mb-4">Modifier mon mot de passe</h2>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}

        {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'} }) }}

        <div class="mb-3">
            {{ form_label(form.password) }}
            {{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder': 'Nouveau mot de passe'} }) }}
            {{ form_errors(form.password) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.confirm_password) }}
            {{ form_widget(form.confirm_password, {'attr': {'class': 'form-control', 'placeholder': 'Confirmez votre mot de passe'} }) }}
            {{ form_errors(form.confirm_password) }}
        </div>

        <button type="submit" class="btn btn-primary">Modifier</button>
        <button class="btn btn-light">
            <a href="{{ path('app_account_self_user_details') }}">Retour</a>
        <button>
        {{ form_end(form) }}
    </div>
{% endblock %}