<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% if app.request.get('_route') != 'app_login' %}
        <header>
            <form action="{{ path('app_search') }}" method="get" style="display: inline;">
                <input type="text" name="query" placeholder="Rechercher..." required>
                <button type="submit">🔍</button>
            </form>
            <nav>
                <a href="{{path('app_home')}}">Accueil</a>
                <a href="{{path('app_account_self_user_details')}}">Mon espace</a>
                <a href="{{path('app_logout')}}">Se déconnecter</a>
            </nav>
        </header>
{% endif %}
        {% block body %}{% endblock %}
    </body>
</html>
