{% extends 'base.html.twig' %}

{% block title %}Mes podcasts{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {% if user_podcasts %}
    <a class="podcast_link" href="{{path('app_account_podcasts_create')}}">Créer un nouveau podcast</a>
    <ul class="podcast_list">
        {% for podcast in user_podcasts %}
        <li>
            <span class ="podcast_name">{{podcast.name}} - {% for author in podcast.author %}
                {{author.username}}
                {% endfor %} 
            </span>
             <button class="btn btn-info">
                <a href="{{path('app_account_podcasts_details',{'identifier': podcast.id})}}">Plus d'informations </a>
            </button>
            <button class="btn btn-primary">
                <a href="{{path('app_account_podcasts_update',{'identifier': podcast.id})}}">Modifier</a>
            </button>
            <button class="btn btn-danger">
                <a href="{{path('app_account_podcasts_delete',{'identifier': podcast.id})}}">Supprimer</a>
            </button>
        </li> 
        <hr> 
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}
