{% extends 'base.html.twig' %}

{% block title %}Mes podcasts{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
</style>

<div class="example-wrapper">
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <h1 class="podcast-title">Vos podcasts</h1>
    {% if user_podcasts is not empty %}
    <a class="podcast_link" href="{{path('app_account_podcasts_create')}}">Créer un nouveau podcast</a>
    <ul class="podcast_list">
        {% for podcast in user_podcasts %}
        <li class="podcast-li">
            <span class ="podcast_name">{{podcast.name}} <span class="link_word">par</span> {% for author in podcast.author %}
              <span class="username">{{author.username}}</span>  
                {% endfor %} 
            </span>
            <div>
                <button class="btn btn-primary">
                    <a href="{{path('app_account_podcasts_details',{'identifier': podcast.id})}}">Informations</a>
                </button>
                <button class="btn btn-primary">
                    <a href="{{path('app_account_podcasts_update',{'identifier': podcast.id})}}">Modifier</a>
                </button>
                <button class="btn btn-danger">
                    <a href="{{path('app_account_podcasts_delete',{'identifier': podcast.id})}}">Supprimer</a>
                </button>
            </div>
             
        </li> 
        {% endfor %}
    </ul>
    {% else %}
   <p class="podcast-p">Silence radio… Il n’y a encore aucun podcast ici 👀</p>
    <a class="podcast_link username" href="{{ path('app_account_podcasts_create') }}">
    Allez, offrez-nous vos plus belles ondes sonores 🎧
    </a>
    {% endif %}
</div>
{% endblock %}
